/* DEBUT DU CSS */
html, body
{
    margin: 0;
    min-width: 100%;
	background: beige;
}
.titre{
    text-align: center;
}

section {
    margin: auto;
}

/** SLIDERS **/

.conteneur_sliders
{
    margin: auto;
    position: relative;
    justify-content: center;
    width: 1028px;
    height: 600px;
    overflow: hidden;
}
.slider_image
{
    width: 100%;
    /* background-size: cover; */
}
.sliders li
{
    width: 1028px;
}
.sliders
{
    display: flex;
    list-style: none;
    margin:0;
    padding: 0;
    width: 9999px;
}

/** BOUTON SLIDERS  **/
.next, .previous{
    position: absolute;
    top: 500px;
    z-index: 2;
    padding: 15px;
    border-radius: 45%;
    background-color: inherit;
    cursor: pointer;
}
.next
{
    right: 25%;
}
.previous
{
    left: 25%;
}

.next:hover, .previous:hover{

    background-color: rgba(255,255,255,0.4);
}

/** FIN SLIDER + BOUTON  **/

/** CARTE  **/
.conteneur_carte_formulaire{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}
.conteneur_carte{
    margin-top: 10px;
    width:600px;
    height: 500px;
    border : 1px solid black ;
    overflow: hidden;
    cursor: pointer;
}
.formulaire h3{
    text-align: center;
    text-transform: uppercase;
}
.bouton_reservation, .bouton_confirmation{
    position:absolute;
    bottom:15%;
    left: 43%;

}
button{
    padding: 10px;
}
.canvas{
    width: 250px;
    max-width: 95%;
    height: 150px;
    border:1px solid black;
    background-color:burlywood;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}
.reserver{
    position: relative;
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}
.confirmation{
    position: relative;
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin-top: 10px;
}

.reservation-status {
    display: none;
    border: 1px solid black;
    margin-top: 10px;
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
}
.formulaire{
	display: none;
}

.reservation-actions{
    display: flex;
    justify-content: center;
}

.reservation-actions > button:first-child{
    margin-right: 4px;
}


/* MEDIA RESPONSIVE */
@media screen and (max-device-width: 768px){

}
